data/input/NYC_Planimetric_Database_Roadbed_20240718.csv
data/input/lion/
data/input/lion_shp/
data/output/collisions-merged-with-intersections.csv
data/output/lion_geojson/
data/output/nyc_intersections_vz_trimmed_streets.csv
data/output/open-data_vehicle-collision-dataset.csv
data/output/vz_nodes.csv
